*~
.DS_Store
node_modules

Gemfile.lock

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
**/*.xcodeproj/*
!**/*.xcodeproj/project.pbxproj
!*.xcodeproj/default.*
!**/*.xcodeproj/default.*

.AppleDouble
.AppleDB
.AppleDesktop
