extends layout

block content
  input#title(placeholder='repo title')
  textarea#text(placeholder='markdown here')
  br
  button#create create repo
  br
  img(src='/img/natsume.jpg')
  :coffeescript
    $ ->
      ($ '#create').on 'click', ->
        repo = ($ '#title').val()
        if repo
          $.ajax "/#{repo}/index",
            type: 'PUT'
            data: text: ($ '#text').val()
            error: (xhr) ->
              alert 'errors on server'
              console.error xhr
            success: (res) ->
              location.href = "/#{repo}"
