extends layout

block content
  .container
    .bind.stud
      .data.head
        .each Na
        .each Tsu
        .each Me
      .data.body
        .each Welcome to natsume
      .data.body
        .each: img(src='/img/natsume.jpg')

