doctype 5
html
  head
    title wicket
    !=css('style')
  body
    block content
    script(src='/lib/jquery-2.0.0.min.js')
    script(src='/lib/underscore-min.js')
    script(src='/lib/underscore.string.min.js')
    script(src='/lib/moment.min.js')
    !=js('script')