extends layout

block content
  .container
    .bind.stud
      .data.head
        .each Page View
      .data.body
        .each: img(src='/img/natsume.jpg')
      form.data.body(method='POST')
        .each: input(type='submit', value='edit this page')

