@import url('http://fonts.googleapis.com/css?family=Roboto:400,100,700')
@import 'nib'

global-reset()

// Master
*
  box-sizing border-box

body
  font 12px/16px Helvetica, Arial, Sans-Serif
  color #333333
  -webkit-text-size-adjust 100%

input, textarea
  appearance none
  display block
  padding 10px
  width 100%
  border 1px solid #CCC
  background white

textarea
  height 100px

button
  display block
  margin 0 auto

.center
  margin 0 auto

.exterior
  width 100%

.interior
  margin 0 auto
  padding 0 10px
  width 80%

.debug
  margin-bottom 5px
  padding 0 5px
  color #A44
  background #F2F2F2
  border 1px solid #CCC
  font-family monospace

#stat
  height 20px
  font-size 10px
  line-height 20px
  span
    margin-right 10px

#head
  height 50px
  font-size 36px
  font-weight 100
  line-height 50px
  span
    margin-right 5px

#body
  padding 10px
  background #EEE
  border-top 1px solid #CCC
  border-bottom 1px solid #CCC
