@import 'nib'

global-reset()

// Master

*
  box-sizing border-box

body
  padding 75px 0 25px 0
  font 10px Helvetica, Arial, Sans-Serif
  color #333333
  -webkit-text-size-adjust 100%
a
  color inherit
  text-decoration none

audio, video
  display block
  margin 10px 0
  width 100%

video
  background black

button, input
  appearance none
  margin 0
  padding 5px 10px
  outline none
  border 1px solid #CCCCCC
  border-radius 3px
  color inherit
  font-size inherit
  font-family inherit

button
  display inline-block
  cursor pointer
  min-height 30px
  border 1px solid #CACACA
  background linear-gradient(top, #FAFAFA, #EAEAEA)
  color #333333
  font-weight bold
  &:hover
    border-color #CCCCCC
    background linear-gradient(top, #EAEAEA, #DADADA)
  &:active
    background #DADADA
  &.pushed
    border 1px solid #3A7FC6
    background linear-gradient(top, #77ACDE, #3A7FC6)
    color #FFFFFF

input
  display block
  &:focus
    border 1px solid #51A7E8
  &[type=text], &[type=password]
    width 100%
    height 36px
  &[type=button], &[type=submit]
    @extend button


@import 'common'
@import 'unique'